form#myForm{text-align:center;}
div#form{width:100%;}
input.btn.btn-primary,button.btn.btn-default{background:rgb(199,199,232); padding:2px 30px; color:#FFF;}
input#wplataField,input#productField,input#wykupField,input#ratField:hover{}
.wrapper{width:40%; background:#333; color:#fff; text-align:center; margin:0 auto;}
ul.naglowki{display:inline-block;}
ul.naglowki > li{float:left; padding:5px 20px;}
ul.naglowki-3 > li{position:relative; top:-97px; display:inline; float:left; left:275px; width:27%;}
.wynik-1 ul > li{position:relative; top:-92px; display:inline-block; left:132px;}
ul.naglowki-4 > li{display:inline;padding-left:11px;top:-68px;left:-51px;position:relative;}
ul.naglowki-3 > li:last-of-type{left:228px;}
ul.naglowki-5 > li{display:inline-block; top:-69px; position:relative; left:254px; padding-left:12px;}
ul.naglowki-6 > li{display:inline-block; position:relative; top:-69px;left:154px;}
ul.naglowki-4 > li:last-of-type{left:-36px;top:-70px;}
ul.naglowki-6 > li:last-of-type{left:173px;}
ul.naglowki-5 > li:last-of-type{left:273px;}
.hader-2 ul.naglowki > li:last-of-type{margin-left:22px;}
.hader-2{height:132px;}
/*kamil*/
.wyniki{display:none;text-align:center;/* background:#fff; *//* border:1px solid #cf0004; */}
.wyniki h4{font-weight:bold;color: #fff;}
.wynik{margin:5px;/* border:1px solid #CF0004; *//* float: left; */color:#000;width: 382px;background: #CF0004;display: inline-block;}
.wynik2{margin:5px;	/* background:#fff; *//* border:1px solid #CF0004; */padding:10px;color:#000;text-align:center;}
.ks-wyn{font-weight:bold}
.wynik-sekcja{background:#fafafa;border-bottom:1px solid #C4C4C4;padding:5px 0;}
div#slideBarContentsInner_147,div#slideBarContentsInner_142{overflow:auto;height:300px}
span.not-success{color:#CF0004;display:block !important;margin: 5px 0;font-size:12px;line-height: 12px;text-align:center;}
span.has-success{background:#78CF00;padding:3px;display:block;margin:5px 0 15px;font-size:12px;line-height:15px;text-align:center;}
.form-group,.alert-wyn {width: 280px;margin: 0 auto;}
.form-group span {display: none;}
.calc input{outline:none;background:#FFFFFF;border:1px solid #fff;border-bottom:1px solid #CF0004;padding:10px;margin:5px auto;width: 258px;}
.calc input:hover,.calc input:focus{border:1px solid #CF0004;}
.calc select{outline:none;background:#FFFFFF;border:1px solid #fff;border-bottom:1px solid #CF0004;padding:10px;margin:5px 0;width: 280px;}
.calc input.btn.btn-primary,.calc button.btn.btn-default{background:#cf0004;color:#fff;padding:5px;margin:5px;border:1px solid #fff}
.calc input.btn.btn-primary:hover,.calc button.btn.btn-default:hover{background:#fff;color:#cf0004;;border:1px solid #cf0004}
.calc label{font-size:14px;color:#000;display:block;text-align:center;margin:5px 0 -4px;line-height:17px;}
.col-xs-12{text-align:center;}
.wyniki .wynik{/* border-left:none; *//* border-right:none; */}
.calc{text-align:center;}
.wyn-close,.wyn-close2{display:none}
.calc-contact-button a{font-size:15px;line-height:16px;color:#fff !important;display:block;background:#cf0004;padding:10px;border:1px solid #fff;}
.calc-contact-button a:hover{border:1px solid #cf0004;background:#fff;color:#cf0004 !important;}
.calc-contact-button{text-align:center;width:280px;margin:10px auto 11px;}
.jwts_tabberlive .moduletable{margin: 0 !important;}
.alert-wyn {color: #fff;background: #CF0004;padding: 3px;font-size: 12px;line-height: 15px;text-align: center;}
.moduletable input#mybutton,.moduletable input.btn.btn-primary {width: 75px;}
.item-page .wyniki {margin: 10px;}
table.tabela-wynikow {
    width: 600px;
    margin: 15px auto;
    text-align: center;
    border-collapse: collapse;
}
table.tabela-wynikow th,table.tabela-wynikow td {
    padding: 5px;
}
.whitebg {
    background: #fff;
}
th.bolder{font-weight:bold}
.borb{/* border-bottom: 1px solid #CF0004; */}
.bort{/* border-top: 1px solid #CF0004; */}
.borl{border-left: 1px solid #CF0004;}
.borr{border-right: 1px solid #CF0004;}
.text-left{text-align:left;font-weight:bold}
.redbg {
    background: #CF0004;
    color: #fff;
}
.wynik-sekcja.oneline {
    padding: 31px 0;
    width: 100%;
    font-size: 22px;
    line-height: 27px;
    border-top: 1px solid #C4C4C4;
}
.wynik.oneline {
    position: relative;
    top: -26px;
}
@media (max-width: 1215px){
#rightmiddle .jwts_tabberlive .moduletable{width:300px;margin: auto !important;}
}
@media (max-width: 898px){
.wynik.oneline {top: 0px;}
}
@media (max-width: 800px){
table.tabela-wynikow{display:none}
.wyniki.mobilny{display:block}
}
@media (max-width:485px){
#rightmiddle .jwts_tabberlive .moduletable{width:270px;}
.alert-wyn,.form-group{width:100%}
.calc input{width:86%;padding:10px 2%}
.calc select{width:90%}
.wynik{width: 260px}
}
