form#myForm{text-align:center;}
div#form{width:100%;}
input.btn.btn-primary,button.btn.btn-default{background:rgb(199,199,232); padding:2px 30px; color:#FFF;}
input#wplataField,input#productField,input#wykupField,input#ratField:hover{}
.wrapper{width:40%; background:#333; color:#fff; text-align:center; margin:0 auto;}
ul.naglowki{display:inline-block;}
ul.naglowki > li{float:left; padding:5px 20px;}
ul.naglowki-3 > li{position:relative; top:-97px; display:inline; float:left; left:275px; width:27%;}
.wynik-1 ul > li{position:relative; top:-92px; display:inline-block; left:132px;}
ul.naglowki-4 > li{display:inline;padding-left:11px;top:-68px;left:-51px;position:relative;}
ul.naglowki-3 > li:last-of-type{left:228px;}
ul.naglowki-5 > li{display:inline-block; top:-69px; position:relative; left:254px; padding-left:12px;}
ul.naglowki-6 > li{display:inline-block; position:relative; top:-69px;left:154px;}
ul.naglowki-4 > li:last-of-type{left:-36px;top:-70px;}
ul.naglowki-6 > li:last-of-type{left:173px;}
ul.naglowki-5 > li:last-of-type{left:273px;}
.hader-2 ul.naglowki > li:last-of-type{margin-left:22px;}
.hader-2{height:132px;}
/*kamil*/
.wyniki{text-align:center;position:fixed;left:50px;top:290px;z-index:-1;height:200px;overflow:auto;background:#fff;border:1px solid #cf0004;width:260px;}
.wyniki h4{font-weight:bold;color:#CF0004;}
.wynik{margin:5px;border:1px solid #CF0004;padding:10px;color:#000;}
.wynik2{margin:5px;	background:#fff;border:1px solid #CF0004;padding:10px;color:#000;text-align:center;position:fixed;left:45px;top:135px;z-index:-1;width:200px;}
.wynik-sekcja{background:#fafafa;border-bottom:1px solid #C4C4C4;padding:5px 0;}
div#slideBarContentsInner_147,div#slideBarContentsInner_142{overflow:auto;height:300px}
span.not-success{background:#CF0004;padding:3px;display:block;margin:5px 0 15px;font-size:12px;line-height:15px;text-align:center;}
span.has-success{background:#78CF00;padding:3px;display:block;margin:5px 0 15px;font-size:12px;line-height:15px;text-align:center;}
.calc input{outline:none;background:#FFFFFF;border:1px solid #fff;border-bottom:1px solid #CF0004;padding:10px;margin:5px auto;width:150px;}
.calc input:hover,.calc input:focus{border:1px solid #CF0004;}
.calc select{outline:none;background:#FFFFFF;border:1px solid #fff;border-bottom:1px solid #CF0004;padding:10px;margin:5px 0;width:172px;}
.calc input.btn.btn-primary,.calc button.btn.btn-default{background:#cf0004;color:#fff;padding:5px;margin:5px;border:1px solid #fff}
.calc input.btn.btn-primary:hover,.calc button.btn.btn-default:hover{background:#fff;color:#cf0004;;border:1px solid #cf0004}
.calc label{font-size:14px;color:#000;display:block;text-align:center;margin:5px 0 -4px;line-height:17px;}
.col-xs-12{text-align:center;}
.wyniki .wynik{border-left:none;border-right:none;}
.calc{padding-bottom:150px;text-align:center;}
.wyn-close{position:absolute; top:-20px; right:-55px; width:30px; height:30px; background:transparent url('fancybox.png') -40px 0px; cursor:pointer; z-index:1103;}
.wyn-close2{position:absolute; top:-15px; right:-15px; width:30px; height:30px; background:transparent url('fancybox.png') -40px 0px; cursor:pointer; z-index:1103;}
.calc-contact-button a{font-size:15px;line-height:16px;color:#fff !important;display:block;background:#cf0004;padding:10px;border:1px solid #fff;}
.calc-contact-button a:hover{border:1px solid #cf0004;background:#fff;color:#cf0004 !important;}
.calc-contact-button{width:90%;margin:10px auto 11px;}