/* Ogolne */
html, body {
	height: 100%;
}

.site-wrapper {
	min-height: 100%;
	height: auto;
	margin: 0 auto -80px;
	padding: 0 0 80px;
}

body {
	padding-top: 50px;
	color: #212121;
	background-color: #E9EAED;
}

.site-content {
	margin-top: 30px;
	margin-bottom: 50px;	
}

input, textarea, select, .form-control {
	border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
     color: #FFF; 
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #FFF;
    background-color: transparent;
}

/* Top navbar */
header {
    width: 100%;
    height: 85px;
    background: rgba(0,0,0,0.8);
   }

.navbar-brand>img {
  width: 153px;
    height: auto;
}
a.navbar-brand {
    display: block;
    height: 100%;
   cursor: pointer;
}

.navbar-default {
  background: rgba(0,0,0,0.8);
z-index: 9999999;    
}

a:focus, a:hover {
    color: #FFF;
    text-decoration: underline;
}
.navbar-collapse {
    width: 75%;
   }

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
 background-color: transparent !important;
}


div#app-navbar-collapse {
    position: relative;
    top: 23px;
    float: right;
}

 /*Facebook*/

#facebook-likebox {
    height: 480px;
    width: 294px;
    position: fixed;
     top: 54%;
    left: -305px;
    margin-top: -246px;
    background-color: #ffffff;
    border-color: #335F9D;
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    padding: 5px;
    z-index: 6;
    
}

#facebook-likebox-button {
   position: absolute;
   left: 283px;
    top: -2%;
    display: block;
    padding: 12px 16px;
    text-transform: none;
}

/* Stopka */
.site-footer {
background-color: #FFBE00;
	height: 40px;
    /*position: fixed;
    bottom: 0;
    width: 100%;*/
}

.site-footer p {
	line-height: 80px;
	font-size: 16px;
	margin: 0;
	color: #FFFFFF;
}

.site-footer p span {
	margin-left: 5px;
	margin-right: 5px;
}

/* Statyczne strony */
.static-page-content {
	padding: 16px;
}

.static-page-content  h3 {
	margin: 0;
}