/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
body {
  *zoom: 1;
  border-top: 1px solid #eeeeee;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
body:after {
  content: "";
  display: table;
  clear: both;
}

span.textinfo {
    color: #FFF;
    font-size: 15px;
   }
span.p-liczba {
    position: absolute;
    top: -2px;
    padding: 6px;
}


.center-text {
  text-align: center;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.float-none {
  float: none;
}
.center-no-float {
  float: none;
  text-align: center;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.no-center-float {
  float: left;
  text-align: initial;
}
.karta {
  background-color: #ffffff;
  box-shadow: none;
  border-radius: 0;
  border: 0;
}
.center-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.invisible {
  display: none;
}
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}
.absolute-one-hundred-size {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.list-style-none {
  list-style-type: none;
}
.overflow-fix {
  overflow: auto;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.hide {
  opacity: 0;
}
.show {
  opacity: 1;
}
.basic-transitions {
  transition: all 0.2s ease-in-out;
}
.no-text {
  font-size: 0;
  line-height: 0;
  text-shadow: none;
  color: transparent;
}
body {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  color: #888888;
  background: url('../images/bg.jpg') center center repeat;
}
p {
  margin: 0 0 15px;
  line-height: 24px;
}
h2 {
  font-size: 24px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 12px;
  color: #434343;
  font-weight: 400;
}
h3 {
  font-size: 18px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 18px;
  color: #434343;
  font-weight: 400;
}
.our-services .single-col {
  display: inline;
  float: left;
 }

@media only screen and (min-width:768px) and (max-width:1200px) {
.our-services .single-col {
 width: 97.36842105%;
  margin: 0 1.31578947%;
}   
    
}




div#TextBox_jbeeb_7 span, div#TextBox_jbeeb_15 span {
    position: absolute;
    left: 22px;
   margin-top: 3px;
}


@media only screen and (min-width:992px) and (max-width:1199px) {
  div#TextBox_jbeeb_7 span, div#TextBox_jbeeb_15 span {
    left: 28px;
    margin-top: 3px;
    font-size: 21px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    div#TextBox_jbeeb_7 span, div#TextBox_jbeeb_15 span {
  left: 47px;margin-top: 11px;font-size: 20px !important;}
}




div#TextBox_jbeeb_11 span:after,div#TextBox_jbeeb_15 span:after {
    content: ':';
}


div#TextBox_jbeeb_11 span {
    margin-top: 30px;
    position: absolute;
    left: -75%;
}

@media only screen and (min-width:992px) and (max-width:1199px) {
div#TextBox_jbeeb_11 span {
    margin-top: 31px;
    position: absolute;
    left: -67%;
    font-size: 21px !important;
}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
   div#TextBox_jbeeb_11 span {
    margin-top: 30px;
    left: -42%;
    font-size: 21px !important;
    }
}


div#TextBox_jbeeb_15 span {
    left: -88px;
    margin-top: 23px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    div#TextBox_jbeeb_15 span {left: -73px; }
}


div#TextBox_jbeeb_19 span {
    right: 170px;
    position: absolute;
    margin-top: 31px;
}

@media only screen and (min-width:992px) and (max-width:1199px) {
div#TextBox_jbeeb_19 span {
    right: 174px;
    position: absolute;
    margin-top: 31px;
    font-size: 21px !important;
}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
 div#TextBox_jbeeb_19 span {
    right: 160px;
   font-size: 21px !important;
}   
}

p.licztxt1.liczba {
    top: 4px;
}
p.licztxt1.liczba2 {
    top: 20px;
    left: -32px;
}


.our-services {
  display: inline-block;
  width: 100%;
  margin: 0px auto;
  height: 79px;
  padding: 2px 10px;
}

p.licztxt1 {
 line-height: 0 !important;
    position: relative;
   top: 1px;
}

span.counter {
    font-size: 20px;
    font-family: "Roboto";
    font-weight: bold;
    position: relative;
/*    top: -10px;*/
}


.licz {position: relative;top: -21px;font-weight: bolder;}

.navbar {
    position: relative;
    min-height: 0px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
/*

ul.navbar li img {
    position: relative;
    top: -16px;
    left: 30px;
}
*/




.our-services .single-col i {
  position: relative;
  top: 10px;
}
.our-services .single-col i.fa {
  font-size: 35px;
  color: #ffffff;
  padding: 1px 5px 0;
}
.our-services .single-col b {
  padding: 5px 5px;
}
.our-services .single-col:nth-child(6) {
  width: 18%;
  float: right;
 }
.our-services .single-col:nth-child(6) span {
  color: #ffffff;
}

@media only screen and (min-width:760px) and (max-width:991px) {
.our-services .single-col:nth-child(6) {
/*    margin-top: 56px;*/
    right: 9%;
    }
}

@media only screen and (min-width:992px) {
  .our-services .single-col {
    display:inline-block;
    width: 15.035088%;
    margin: 0 1.31578947%;
  }
}

.our-services .single-col:nth-child(5) {
  display: none;
}


@media only screen and (min-width: 280px) and (max-width: 991px) {
  .our-services {
    height: 94px;
  }
}
@media only screen and (min-width: 200px) and (max-width: 388px) {
  .our-services .single-col:nth-child(6) {
   top: -11px;
    left: -12%;
  }
}
/*
@media only screen and (min-width: 389px) and (max-width: 767px) {
  .our-services .single-col:nth-child(6) {
    margin-top: -1px;
  }
}
*/
@media only screen and (min-width:992px) {
  .our-services .single-col:nth-child(4) {
    display: inline-block;
    width: 16%;
  }
}

@media only screen and (min-width:992px) {
  .our-services .single-col:nth-child(5) {
    display: inline-block;
    width: 16%;
  }
}


.our-services .single-col:nth-child(4) {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .our-services .single-col:nth-child(4) {
 top: 7px;
display: inline-block;      
position: relative;
  }
}
@media only screen and (min-width: 200px) and (max-width: 767px) {
  .our-services .single-col:nth-child(3) {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .our-services .single-col:nth-child(3) {
    width: 20%;
    left: 0%;
  }
}
@media only screen and (min-width:992px) {
  .our-services .single-col:nth-child(3) {
    width: 16%;
    top: 5px;  
  }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
.our-services .single-col:nth-child(3) {    
left: -26px;top: 6px; 
    }
}


@media only screen and (min-width: 1200px) {
  .our-services .single-col:nth-child(3) {
    width: 15%;top: 4px;
/*      left: 2%;*/
  }
}

@media only screen and (min-width: 1200px) {
  .our-services .single-col:nth-child(2) {
    width: 11%;
  }
}

@media only screen and (min-width:992px) {
  .our-services .single-col:nth-child(2) {
    left: 10px;
    top: 7px;  
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .our-services .single-col:nth-child(2) {
    width: 20%;
    left: 0%;
  }
}


/*
@media only screen and (min-width: 200px) and (max-width: 767px) {
  .our-services .single-col:nth-child(2) {
    display: none;
  }
}
*/


@media only screen   and (max-width: 551px) {
    .our-services .single-col:nth-child(2){ left: 19%;top: 5px;}

}

@media only screen and (max-width:760px){
  .our-services .single-col:nth-child(1) {
    width: 20%;left: 13%;}  
}



@media only screen and (min-width: 552px) and (max-width: 767px) {
  .our-services .single-col:nth-child(1) {
    width: 20%;left: 13%;}
    
.our-services .single-col:nth-child(2), .single-col:nth-child(3) {
  top: 0.3em; margin: 0 10px; left: 14%; margin-right: 20px;} 
.single-col.hosting.liczba {top: 9px;}  
    
    
 div#TextBox_jbeeb_15 span {
    left: -79px;
   } 
    
div#TextBox_jbeeb_7 span{left: 41px; top: -112%;}    
    
    span#dni{
   top: 3px !important; right: 28%; font-size: 20px !important;}  
    
    div#TextBox_jbeeb_11 span{left: -55%;}

    div#TextBox_jbeeb_19 span {right: 162px;}
    
}




@media only screen and (max-width:800px){
.our-services a {left: 94px !important;top: -58px;}
.our-services .single-col:nth-child(6) {left: -56px;}
/*p.prime {top: 0px !important;}    */
}

@media only screen and (min-width:552px) and (max-width:750px){
.our-services .single-col:nth-child(6) {left: -123px;}
#czas {top: 20px !important;left: -40px;}    
}

@media only screen and (min-width:385px) and (max-width:551px){
.our-services a {left: 94px !important;top: -58px;}
.our-services .single-col:nth-child(6) {top: -1em;}
p.prime {top: 1.2em; right: 37px;font-size: 10px;}  
    
#clock span {
    font-size: 22px !important;
    top: 10.2px !important;
    }
    
}


@media only screen and (min-width:320px) and (max-width:384px){
.our-services a {left: 94px !important;top: -58px;}
p.prime {top: 16px !important;
left: -11px;
font-size: 8px;}
#clock span {font-size: 10px !important; top: 2.2px !important;}
    
}


@media only screen and (max-width:727px){
    .our-services .single-col:nth-child(3){display: none !important;}
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
  .our-services .single-col:nth-child(1) {
    width: 20%;
    left: -7%;
  }
}
/*
@media only screen and (min-width: 1200px) {
  .our-services .single-col:nth-child(1) {
    width: 11%;
  }
}
*/
@media only screen and (min-width:992px) {
  .our-services a {
   left: 22px;
top: -12px;
  }
}


.our-services .single-col:nth-child(3),.our-services .single-col:nth-child(2),.our-services .single-col:nth-child(6) {
 position: relative;
  }







/*
.our-services .single-col:nth-child(1) {
  display: inline-block;
  width: 16%;
   left: 30px; 
  position: relative;
}
*/

/*
.our-services a {
  position: relative;
  left: 9px;
}
*/
@media only screen and (min-width:760px) and (max-width:991px) {
  .our-services a {left: 84px;top: -57px;}}



#czas{
position: absolute;
  display: inline-block;
    margin: 0 auto;
    width: 120px;
    text-align: center;
}

@media only screen and (min-width:1200px){
   #czas{
    top: -32px;left: 36px;
    }
    
    
}


@media only screen and (min-width:992px) and (max-width:1199px){
   #czas{
    top: 20px;
    }
    }


/*
@media only screen and (max-width: 386px) {
  #czas {
   top: 20px;
font-size: 10px;
   }
}
*/
@media only screen and (min-width: 701px) and (max-width: 778px) {
  #czas {
   top: -31px;
    left: -39px;
    height: 58px;
    width: 86px;
  }
}
@media only screen and (min-width: 779px) and (max-width: 813px) {
  #czas {
    left: -37px; top: 22px;
  }
}

@media only screen and (min-width:541px) and (max-width:551px){
    #czas { top: -18px; right: 20px;}
}

@media only screen and (min-width:552px) and (max-width:991px){
    #czas { top: -18px; }
}

@media only screen and (min-width:403px) and (max-width:540px){
#czas { top: -18px; right: 10px;}}



@media only screen and (min-width:386px) and (max-width:402px){
#czas { top: -18px; left: -61px;}}

@media only screen and (min-width:320px) and (max-width:385px){
#czas {top: -14px; left: -40px;}}

@media only screen and (min-width: 814px) and (max-width: 1021px) {
  #czas {
    right: 17%;
  }
}

@media only screen and (max-width:456px){
    .our-services .single-col:nth-child(2) {
    display: none !important;
    }
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  clear: both;
  padding: 0 15px;
  position: relative;
 
}
#toolbarbg {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  background: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #dddddd;
  color: #f7c123;
  height: 80px;
  /* box-shadow: 0 0 1px #dddddd; */
}

ul.navbar {
  list-style-type: none;
}
ul.navbar li {
  display: inline-block;
  color: #ffffff;
  float: left;
  width: 14.03508772%;
 }
/*  */
div#arrow-width {width: 72px;margin-left: 5%;position: fixed;z-index: 9999999;top: 78px;height: 37px;left: 3.2em;}
img.strzalka {
  position: fixed;
  z-index: 9;
  top:79px;
  border-radius: 0px 0px 20px 20px;
}
div#zegar div {
  float: left;
}
div#clock {
/*  display: inline-block;*/
 width: 72%;
  height: 77px;
/*
  margin: 2px 5px;
  text-align: center;
  position: relative;
*/
}


p.prime {
  white-space: nowrap;
    color: #FFF;
    position: relative;
}

@media only screen and (min-width:1200px){ p.prime {top: -52px;}}

@media only screen and (min-width:992px) and (max-width:1199px) {
p.prime {       
top: -6px;
left: -3%;    
    }
}



#czas div {
  background: none !important;
  font-size: 12px !important;
  margin-top: 9px;
}

#czas span {
  font-size: 22px !important;
  line-height: 15px !important;
}

#clock span {
  font-size: 9px;
 top: -49.8px;
  margin: 5px 0 0;
  line-height: 2px;
  position: relative;
}

div#TextBox_jbeeb_10 {
  top: -8px !important;
  left: -21px !important;
}

div#TextBox_jbeeb_13,
div#TextBox_jbeeb_15,
div#TextBox_jbeeb_21,
div#TextBox_jbeeb_14,
div#TextBox_jbeeb_18,
div#TextBox_jbeeb_22 {
  margin-top: 0px !important;
  padding-left: -2px !important;
  margin-bottom: 25 !important;
  position: relative !important;
}
div#TextBox_jbeeb_14:after,
div#TextBox_jbeeb_18:after {
  content: ':';
  top: 2px !important;
  position: absolute !important;
  left: 44px !important;
}

div#TextBox_jbeeb_13,
div#TextBox_jbeeb_15,
div#TextBox_jbeeb_21,
div#TextBox_jbeeb_14,
div#TextBox_jbeeb_18,
div#TextBox_jbeeb_22 {
  top: -11px !important;
  padding: 2px !important;
  margin: 28px auto !important;
}


div#TextBox_jbeeb_13,
div#TextBox_jbeeb_14 {
  left: -95px !important;
}

div#TextBox_jbeeb_21,
div#TextBox_jbeeb_22 {
  left: -194px !important;
}

/*  */
div#TextBox_jbeeb_17,
div#TextBox_jbeeb_18 {
  left: -144px !important;
}

span#dni {
float: right;
  width: 50%;
  display: inline-block;
  padding: 4px 14px;
  margin: 0 auto;
  position: relative;
 z-index: 2;
  }

@media only screen and (min-width:992px){
    span#dni{
    top: 23px; right: 18%; font-size: 22px;     
    }
}




@media only screen and (min-width:992px) and (max-width:1199px) {
  span#dni {
    top: 5px;  
   left: 12%;  
font-size: 21px;      
  }
    }

@media only screen and (min-width:992px) and (max-width:1021px){
    span#dni {
  left: -25%;   
        }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    span#dni{
     top: 7px;
    left: -18%;
    font-size: 20px;   
    }   
}


@media only screen and (min-width: 1200px) {
  #czas span {
    font-size: 24px !important;
    line-height: 26px !important;
  }
   
 span#dni{
    top: -62px;
    z-index: 2;
    left: 1%;
    font-size: 22px;    
    }    
    
}

.graphic,
.prevBtn,
.nextBtn {
  margin: 0;
  padding: 0;
  display: block;
  overflow: hidden;
  text-indent: 9999em;
  width: 100%;
}
div#wizualizacja {
  padding-bottom: 20px;
}
div#wizualizacja img {max-width: 80%;margin: 0 auto;display: block;}

div#wizualizacja span.controls a:not(ol) {height: 47px;background-size: 35px auto;z-index: 2;}
.prevBtn {
  background: url(../images/left.png) center left 10px no-repeat;
  position: fixed;
  top: 230px;
  right: 4%;
  z-index: 2;
  /*    
   @media only screen and (min-width:480px) and (max-width:768px){
      left: 0px; top:210px 
    }
    */
}

.nextBtn {
  background: url(../images/right.png) center right 10px no-repeat;
  position: fixed;
 z-index: 7;
  top: 230px;
  right: -15px;
}

ol.numericControls li {
  display: none;
}
ol.numericControls li.current {
  display: block;
  position: fixed;
  top: 146px;
  right: 0.2%;
}

ol.numericControls span {
  padding: 2px;
  margin: 0;
  background-color: #434343;
  font-size: 18px;
  line-height: 27px;
  top: 2px;
  color: #ffffff;
}
ol.numericControls a {
  display: block;
  text-decoration: none;
}
/*    Stopka  */
footer {
  z-index: 2;
  position: relative;
 }

footer#wiz-demo{
background-color: #FFF;       
}



.footer-main .single-col {
  display: inline;
  float: left;
  width: 97.36842105%;
  margin: 0 1.31578947%;
}

.footer-main {
  background-color: #ffffff;
  padding: 30px 0 10px;
}
.footer-main h3 {
  font-size: 24px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 28px;
  color: #6c6c6c;
  font-weight: 400;
}
.footer-main p {
  font-size: 14px;
  margin: 0;
  letter-spacing: 2px;
}

.footer-main ul {
  list-style-type: none;
}

.footer-main hr {
  background-color: #eeeeee;
  padding: 1px 0 0;
  width: 100%;
}
.footer-main h2 {
  text-transform: uppercase;
  font-size: 24px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 8px;
  color: #6c6c6c;
  font-weight: 400;
  padding-top: 5px;
  overflow: hidden;
}

.bt-f.btn-primary2 {
  background-color: #ffffff;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #f7c123;
  border-color: #f7c123;
  background-image: -webkit-linear-gradient(top, #f7c123 0%, #f7c123 100%);
 margin-bottom: 15px;
  font-weight: normal;
}

.bt-f.btn-primary2 a {
  text-decoration: none;
  color: #6c6c6c;
  transition: all 0.2s ease-in-out;
  padding: 10px 11px;
  display: block;
}
.bt-f.btn-primary2 a:hover {
  opacity: 0.7;
}
.bt-f.btn-primary2 span.icon-fb {
position: relative;
    top: -14px;
    left: 10px
}

ul.but-list li:nth-child(3) div {
  padding: 5px 13px 0px;
}
ul.but-list li:nth-child(3) p {
  line-height: 2px;
}
ul.but-list li:nth-child(3) a {
  padding: 5px 15px 0px 5px;
}
.company-trusts .single-col {
  display: inline;
  float: left;
  width: 97.36842105%;
  margin: 0 1.31578947%;
}
.ours-clients .single-col {
  display: inline;
  float: left;
  width: 97.36842105%;
  margin: 0 1.31578947%;
  /*  @media @phone{
        .column(6);
    } */
}

/* Loga */
.block-01 {
  background: url("../logotyp/logo01.png") center top no-repeat;
  padding-bottom: 10px;
}
.block-02 {
  background: url("../logotyp/logo02.png") center top no-repeat;
  padding-bottom: 10px;
}
.block-03 {
  background: url("../logotyp/logo03.png") center top no-repeat;
  padding-bottom: 10px;
}
.block-04 {
  background: url("../logotyp/logo04.png") center top no-repeat;
  padding-bottom: 10px;
}
.block-05 {
  background: url("../logotyp/logo05.png") center top no-repeat;
  padding-bottom: 10px;
}
.block-06 {
  background: url("../logotyp/logo06.png") center top no-repeat;
  padding-bottom: 10px;
}
.block-07 {
  background: url("../logotyp/logo07.png") center top no-repeat;
  padding-bottom: 10px;
}
.block-08 {
  background: url("../logotyp/logo08.png") center top no-repeat;
  padding-bottom: 10px;
}
.block-09 {
  background: url("../logotyp/logo09.png") center top no-repeat;
  padding-bottom: 10px;
}
.block-10 {
  background: url("../logotyp/logo10.png") center top no-repeat;
  padding-bottom: 10px;
}
.block-11 {
  background: url("../logotyp/logo11.png") center top no-repeat;
  padding-bottom: 10px;
}
.block-12 {
  background: url("../logotyp/logo12.png") center top no-repeat;
  padding-bottom: 10px;
}
.ours-clients span {
  padding: 37% 37% 0;
  float: left;
  display: block;
}
@media only screen and (min-width: 200px) and (max-width: 480px) {
  .ours-clients span {
    padding: 37% 37% 6%;
  }
}
@media only screen and (max-width: 480px) {
  .ours-clients span {
    padding: 37% 37% 25%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .ours-clients span {
    padding: 37% 37% 20%;
  }
}
@media only screen and (min-width:768px) {
  .ours-clients span {
    padding: 37% 37% 0;
  }
}
@media only screen and (min-width:992px) {
  .ours-clients span {
    padding: 37% 37%;
  }
}
.clearfix {
  border-top: 1px solid #eeeeee;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
/* Sekcja wideo  */
.section-video {
  padding: 20px 0;
  /*   width: 100%; */
}
.movie div {
  float: left;
  display: inline-block;
}
.manifest {
  /* background-color: @brightest-text-color; */
}
@media (min-width: 992px){.manifest {left: 2px;position: relative; }}


.manifest h2 {
  text-transform: uppercase;
  display: inline-block;
  padding: 20px 20px 0;
  margin: 0 20px 0;
  font-size: 24px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 8px;
  color: #6c6c6c;
  font-weight: 400;
}

.section-title h3 {
    text-align: center;
    text-transform: uppercase;
}
@media only screen and (min-width:992px) {
  .manifest h2 {
    position: relative;
    left: 21px;
  }
}
@media only screen and (min-width:992px) {
  .manifest blockquote:before {
    background: url("../images/cytat.png") no-repeat top left;
    content: '';
    line-height: 0.1em;
    padding: 25px;
    position: absolute;
    background-size: 48px;
    left: 12px;
    top: 62px;
  }
}
.akapit {
    white-space: nowrap;
    display: inline-block;
}


.manifest p {
  position: relative;
  display: inline-block;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 2px;
}
@media only screen and (min-width: 200px) and (max-width: 639px) {
  .manifest p {
    font-size: 13px;
    text-align: left;
    line-height: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
  }
}
@media only screen and (min-width: 640px) and (max-width: 991px) {
  .manifest p {
    font-size: 13px;
    text-align: justify;
    line-height: 14px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
  }
}
@media only screen and (min-width:992px) {
  .manifest p {
    left: 72px;
    top: 2px;
    width: 77%;
  }
}
@media only screen and (min-width:992px) {
  .manifest span.txt-2 {
    float: left;
    position: relative;
    left: -41px;
    width: 100%;
  }
}
div#div2 {
  position: fixed;
  padding: 25%;
  height: 100%;
  width: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  z-index: 1;
 text-align: center;
}
div#div2 a {
  color: #f7c123;
  text-decoration: none;
}
div#div2 a:hover {
  color: #ffffff;
}
div#misja,
.copyright {
  background: url('../images/bg.jpg') center center repeat;
z-index: 999999;
position: relative;    
}
#toTop2 {
  background: url('../images/down.png') center right no-repeat;
  height: 80px;
  /* right: 25px; */
}
#toTop,
#toTop2 {
  z-index: 9999999;
}
.copyright {
  text-align: center;
  color: #000;
}
.copyright p {
  text-align: center;
  color: #434343;
}
.copyright a {
  color: #f7c123;
  text-decoration: none;
}
.player iframe {
  width: 632px;
  height: 360px;
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
}
@media only screen and (min-width:992px) {
  .player iframe {
    float: right;
  }
}
.player.single-col {
  position: relative;
}
@media only screen and (min-width:992px) {
  .player.single-col {
    left: 31px;
  }
}
/* blockquote{
       // margin: 0 20px 0;
        
        
        @media @tablet{
        &:before{
            background: url("../img/cytat.png") no-repeat top left;
            content: '';
            line-height: 0.1em;
            padding: 25px;
            position: absolute;
            background-size: 48px;
         }     
        }
       } */
.video-line {
  background-color: #ffffff;
}
.video-line p {
  color: #434343;
  position: relative;
}
@media only screen and (min-width:992px) {
  .video-line p {
    left: 72px;
    width: 58%;
    line-height: 29px;
  }
}
@media only screen and (min-width: 1200px) {
  .video-line p {
    width: 57%;
  }
}
@media only screen and (min-width:992px) {
  .video-line span {
    left: 0px;
    position: relative;
  }
}
@media only screen and (min-width: 1200px) {
  .video-line span {
    left: -57px;
  }
}
div#misja h3 {
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: 2;
  line-height: 30px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 10px;
}
.player.single-col {
  /* height: 100px; */
}
@media only screen and (max-width: 768px) {
  .player.single-col {
    width: 280px;
  }
}
#movie iframe {
  width: 100%;
  height: 290px;
  display: block;
  max-width: 100%
    left:3%;
}
@media only screen and (min-width:992px) {
  #movie iframe {
    width: 482px;
    height: 370px;
  }
}
@media only screen and (min-width: 1200px) {
  #movie iframe {
    width: 599px;
    height: 363px;
  }
}
/* Bootstrap */
.container {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}
.akapit p:not(div) {
  position: relative;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .akapit p:not(div) {
    left: 55px;
    text-align: left;
  }
}
@media only screen and (min-width:992px) {
  .akapit p:not(div) {
    left: 67px;
    line-height: 7px;
    letter-spacing: 1px;  
  }
}
/*
@media only screen and (min-width: 1200px) {
  .akapit p:not(div) {
    left: 152px;
  }
}
*/
.akapit div {
  position: relative;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .akapit div {
    left: -16px;
  }
}
@media only screen and (min-width:992px) {
  .akapit div {
    left: 60px;
  }
}
.company-ofert1 h2 {
  position: relative;
  left: -12px;
}
.bt-f.btn-primary2 p {
  left: 0px;
margin-bottom: 0px;
padding: 5px;    
}
.company-ofert1.single-col {
  text-align: center;
}
.company-trusts {
  position: relative;
  left: 13%;
}
.logotyp {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.logotyp a {
  display: inline-block;
  margin: 0 auto;
  padding: 2px 5px;
}
@media only screen and (min-width: 390px) and (max-width: 768px) {
  .logotyp a {
    width: 50%;
  }
}
@media only screen and (min-width:992px) {
  .logotyp {
    left: 40px;
  }
}
ul.navbar a {
  display: table;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  overflow: auto;
  padding: 2px 5px;
}
@media only screen and (max-width: 768px) {
  company-ofert2.single-col {
    text-align: center;
  }
}
.r3 {
  background: #ffffff;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .r3 {
    padding-bottom: 38px;
    text-align: left;
  }
}
@media only screen and (min-width: 1200px) {
  .r3 {
    padding-bottom: 53px;
    text-align: left;
  }
}
@media only screen and (max-width: 768px) {
  .company-ofert2.single-col {
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .company-ofert2.single-col h2 {
    padding-bottom: 20px;
  }
}
.w2 {
  margin: 0 auto;
  display: inline-block;
  text-align: center;
}
.ours-clients ul {
  display: inline-block;
  text-align: center;
}
.ours-clients a {
  display: block;
}
@media only screen and (max-width: 768px) {
  .ours-clients li {
    margin: -20px auto;
  }
}
@media only screen and (min-width:992px) {
  .ours-clients li {
    width: 20%;
  }
}
.ours-clients h3 {
  text-align: center;
  text-transform: uppercase;
}
.portfolio {
  padding: 55px 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #dddddd;
}
.portfolio .owl-controls {
  margin-top: 60px;
}
.portfolio-item img {
  width: 100%;
  max-width: 100%
		cursor: pointer;
}
.portfolio-item:hover .portfolio-hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.7);
}
.portfolio-item:hover h3 {
  transform: translateX(0%);
  transform: translateY(0%);
  transform: translateZ(0%);
}
.portfolio-item:hover p {
  transform: translateX(0%);
  transform: translateY(0%);
  transform: translateZ(0%);
}
.portfolio-item:hover a {
  transform: translateX(0%);
  transform: translateY(0%);
  transform: translateZ(0%);
}
.portfolio-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  opacity: 0;
}
.portfolio-hover-inner {
  position: absolute;
  width: 100%;
  top: 30%;
  transform: translateY(15%);
}
.portfolio-hover-inner h3 {
  font-size: 18px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 6px;
  color: #f7c123;
  font-weight: 400;
  transition: all 0.7s ease-in-out;
  font-size: 35px;
  line-height: 40px;
  text-transform: uppercase;
  vertical-align: middle;
}
.portfolio-hover-inner p {
  color: #afafaf;
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 25px;
  vertical-align: middle;
  transition: all 0.7s ease-in-out;
}
.portfolio-hover-inner div {
  width: 47px;
  height: 39px;
  background: url(../images/icon1.png) center center no-repeat;
  margin: 25px auto 0;
  vertical-align: middle;
  transition: all 0.7s ease-in-out;
}
div#t-arrow {
  width: 72px !important;
  position: fixed !important;
  z-index: 9999999;
}
div#TextBox_jbeeb_24,
div#TextBox_jbeeb_20,
div#Box_jbeeb_19,
div#Box_jbeeb_23,
div#TextBox_jbeeb_24,
div#Stage_jbeeb_6,
div#Box_jbeeb_11,
div#TextBox_jbeeb_12,
div#Box_jbeeb_15,
div#TextBox_jbeeb_16 {
  display: none;
  overflow: hidden;
}
.sidebaraf {
  position: fixed;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  z-index: 9999;
}
.zamow-kontakt.sidebaraf {
  top: 160px;
  z-index: 10;
  left: -300px;
  position: fixed;
  width: 335px;
  height: 202px;
}
.fbbar.sidebaraf {
  top: 365px;
  left: -290px;
  width: 325px;
  height: 110px;
}
.sidebaraf .sidebarcontent {
  background: #fff;
  padding: 10px;
  box-shadow: 0 0 5px #000000;
}
.zamow-kontakt.sidebaraf .sidebarcontent {
  width: 280px;
}
.fbbar.sidebaraf .sidebarcontent {
  width: 280px;
}
.sidebaraf.active {
  left: 0;
}
.sidebaraf img.sidebarimg {
  position: absolute;
  top: 0;
  right: 0;
}
div#glass {
position:fixed;
top:0;left:0;width:100%;height:100%;z-index:2;
    }
 #copyright{visibility:hidden;display:none;}

.prevBtn{background:url(../images/left.png) center left no-repeat; height: 47px;  position: fixed;
margin-left: -3%; top: 200px; background-size: 35px auto; z-index:10;
}


.nextBtn {background:url(../images/right.png) center left no-repeat; height: 47px; position:fixed; top: 200px; background-position: 27cm 50%;  background-size: 35px auto; 
z-index:10}

div#wizualizacja{
margin: 0 auto;
width:100%;   
    }

 @media only screen and (min-width:992px){
     div#wizualizacja{
    width: 1000px;
    padding-top: 48px;
    }    
}


div#wizualizacja img {
max-width: 100%;
}

img.blur {     
filter: blur(3px);
    -webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
        filter: blur(3px);
	filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='3'%20/></filter></svg>#blur");
        filter:progid:DXImageTransform.Microsoft.MotionBlur(strength=13, direction=310);
filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
filter:blur(add = 0, direction = 300, strength = 10);
}
.akapit p {
    width: 60%;
}

.akapit > div p {
  width: 100%;
}

section.company {
  z-index: 1000;
   }
.company-ofers h2 {position: relative;text-align: left;left: 68px;}
.company-ofers, .company-ofers2 {
    padding-top: 30px;
left: 21px;
    position: relative;    
}
.company-ofers2 h2 {text-align: left;}
div#manifest h2 {left: 2.5em;}

bt-f.btn-primary2 p {
    margin-bottom: 0px !important;
    padding: 6px;
}

.site-content h2 {
   font-size: 20px;
    color: #434343;
    margin-top: 29px;
}

.customer {
    color: #f7c123;
    font-weight: bolder;
    opacity: initial;
    line-height: 4px;
    text-shadow: 0 0 2px #434343;
}

.nav>li>a:focus, .nav>li>a:hover {background-color: transparent !important; }

li.prev a {color: #FFF;font-size: 16px;}

.bx-wrapper {
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: none !important;
    border: none !important;
    background: transparent !important;
}
ul.logout-menu a{padding:5px 20px 6px;display:table;margin:20px auto 0;background:#f8be1f;font-size:18px;line-height:23px;font-weight:bold;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;border:1px solid #f8be1f;color:#fff;text-decoration:none; position: relative; z-index: 999;}
ul.logout-menu a:active,ul.logout-menu a:hover,ul.logout-menu a:focus{color:#fff;background:#202020;border-color:#666;position: relative; z-index: 999} 