body{font-family:'Lato',sans-serif;font-size:21px;line-height:25px;width:100%;padding:0;word-wrap:break-word;text-align:justify;-webkit-font-smoothing:antialiased!important;font-smoothing:antialiased!important;-moz-osx-font-smoothing:grayscale!important;font-smooth:always!important;color:#fff;background:url(images/bacground/bg_logowanie.jpg) center center no-repeat fixed;background-size:cover}
img{max-width:100%;border:0}
.float-container{display:table;clear:both;width:100%}
.floatr{float:right}
.main-menu li,.floatl{float:left}
:before,:after,a,input,button,select,li,textarea{-webkit-transition:all 0.7s ease-out;transition:all 0.7s ease-out;-moz-transition:all 0.7s ease-out;-o-transition:all 0.7s ease-out}
.m-view{display:none}
a{text-decoration:none;color:#fff}
a:active,a:hover,a:focus{text-decoration:none;color:#f8be1f;outline:0}
ul,ol{padding-left:0;margin-left:0px;text-align:left}
ul li{margin-left:0px;list-style-type:none;display:list-item}
nav.zatr-menu.active ul{display:table-cell;padding:0;vertical-align:middle;text-align:right;width:220px}
.zatr-menu.active a{color:#333;text-transform:uppercase;position:relative;z-index:99999;display:block;margin:5px 0;font-size:20px;font-weight:bold;line-height:25px}
.zatr-menu.active a:hover,.zatr-menu.active .current.active a{color:#f8be1f}
.zatr-menu.active .zatr-menu-link:hover{color:#FFBE00}
.zatr-menu-opener,.zatr-menu-opener:hover,.zatr-menu-opener.active,.zatr-menu-opener-inner,.zatr-menu-opener-inner:before,.zatr-menu-opener-inner:after,.zatr-menu,.zatr-menu.active{-webkit-transition:250ms all;transition:250ms all;-ms-transition:250ms all}
.zatr-menu-opener{cursor:pointer;height:64px;position:fixed;top:12px;right:10px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;width:64px;z-index:10000000;background:#f8be1f;border:1px solid #f8be1f}
.zatr-menu-opener-inner{margin-left:.75rem;margin-top:1.75rem}
.zatr-menu-opener-inner:before,.zatr-menu-opener-inner:after{content:'';display:block}
.zatr-menu-opener-inner:before{-webkit-transform:translateY(-0.75rem);-ms-transform:translateY(-0.75rem);transform:translateY(-0.75rem)}
.zatr-menu-opener-inner:after{-webkit-transform:translateY(0.25rem);-ms-transform:translateY(0.25rem);transform:translateY(0.25rem)}
.zatr-menu-opener-inner.active{background:transparent!important}
.zatr-menu-opener-inner.active:before{-webkit-transform:translateY(0rem) rotate(-45deg);-ms-transform:translateY(0rem) rotate(-45deg);transform:translateY(0rem) rotate(-45deg)}
.zatr-menu-opener-inner.active:after{-webkit-transform:translateY(-0.5rem) translateX(0rem) rotate(45deg);-ms-transform:translateY(-0.5rem) translateX(0rem) rotate(45deg);transform:translateY(-0.5rem) translateX(0rem) rotate(45deg)}
.zatr-menu{background:#FFFFFF;z-index:10000000;color:#fff;height:64px;position:fixed;top:0;right:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;width:0rem}
.zatr-menu.active{width:280px;z-index:9999999;height:100%;padding-right:105px;display:table;padding:20px;border-left:4px solid #f07e00}
.zatr-menu-inner{display:none;-ms-flex-direction:row;height:100%;list-style-type:none;margin:0;padding:0}
.zatr-menu-opener:hover,.zatr-menu-opener.active{background:#f8be1f;z-index:10000000;border:1px solid #fff}
.zatr-menu-opener-inner,.zatr-menu-opener-inner:before,.zatr-menu-opener-inner:after{background:#fff;height:.5rem;width:2.5rem}
span.sp1,span.sp2,div.glass.active,nav.zatr-menu.active .zatr-menu-inner{display:block}
.active .zatr-menu-inner{display:flex;align-items:center;justify-content:flex-end}
.zatr-menu-inner ul{text-align:right}
.glass{width:100%;height:100%;position:fixed;display:none;z-index:9999999;background:rgba(0,0,0,0.6)}
ul.menu-nav a{display:block;padding:10px 15px;margin-left:15px}
h2{font-size:50px;margin:0 auto;display:table;font-weight:300;line-height:55px}
h2,.btn-container{text-align:center}
.btn-container a{padding:10px 40px 12px;display:table;margin:50px auto 0;background:#f8be1f;font-size:30px;line-height:35px;font-weight:bold;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;border:1px solid #f8be1f}
.btn-container a:active,.btn-container a:hover,.btn-container a:focus{color:#fff;background:#202020;border-color:#666}
span.sp2{color:#f8be1f}
.flex-container{width:100%;height:100%;position:fixed;top:0;left:0;margin:0 auto;display:flex;align-items:center;justify-content:center;z-index:9}
.top-header.d-view{padding:15px 0;position:fixed;z-index:99;width:100%}
.loadimg{display:block;position:fixed;top:50%;left:50%;width:100px;height:100px;margin-left:-50px;margin-top;-50px;-webkit-animation-name:spin;-webkit-animation-duration:2000ms;-webkit-animation-iteration-count:infinite;-webkit-animation-timing-function:linear;-moz-animation-name:spin;-moz-animation-duration:2000ms;-moz-animation-iteration-count:infinite;-moz-animation-timing-function:linear;-ms-animation-name:spin;-ms-animation-duration:2000ms;-ms-animation-iteration-count:infinite;-ms-animation-timing-function:linear;animation-name:spin;animation-duration:2000ms;animation-iteration-count:infinite;animation-timing-function:linear;	}
h3 span.sp1{font-weight:300;font-size:25px;line-height:30px}
h3 span.sp2{font-weight:bold;font-size:30px;line-height:35px}
footer.site-footer .floatr .sp1{color:#f8be1f}
footer.site-footer .floatr .sp2{color:#fff}
footer.site-footer{padding:0 0 50px;margin:0 0 -20px}
footer.site-footer .floatl{text-align:left;width:45%}
footer.site-footer .floatr{text-align:right;width:45%}
.inline-element{display:inline-block;padding:5px 12px;position:relative}
.inline-element:before{content:'';height:25px;width:1px;position:absolute;display:none;background:#f8be1f;left:0;top:50%;margin-top:-12.5px}
.sep-item:before{display:block}
.inline-elements-block{font-size:18px;line-height:25px}
@-ms-keyframes spin{from{-ms-transform:rotate(0deg)}to{-ms-transform:rotate(360deg)}}
@-moz-keyframes spin{from{-moz-transform:rotate(0deg)}to{-moz-transform:rotate(360deg)}}
@-webkit-keyframes spin{from{-webkit-transform:rotate(0deg)}to{-webkit-transform:rotate(360deg)}}
@keyframes spin{from{transform:rotate(0deg)}to{transform:rotate(360deg)}}
@media (min-width: 1200px){
.floatl .inline-elements-block{margin-left:-15px}
}
@media (max-width:1200px){
.flex-container{position:inherit;margin-top:50px}
footer.site-footer{position:inherit;margin:0;padding:50px 0}
.m-view,.inline-element:before{display:block}
.d-view{display:none}
.m-logo{padding:10px 0 0}
}
@media (min-width: 992px){
.floatr .inline-elements-block{margin-right:-15px}
}
@media (max-width: 992px){
footer.site-footer .floatl,footer.site-footer .floatr{float:none;width:100%;text-align:center}
.inline-elements-block,.inline-element{display:table}
.inline-elements-block{margin:0 auto;width:320px}
}
@media (max-width:600px){h2{font-size:33px;line-height:35px}
.btn-container a{margin:20px auto 0;font-size:20px;line-height:22px}
}
@media (max-width:500px){
.m-logo{width:200px}
.inline-elements-block{width:auto}
.inline-element{text-align:left}
}