.asTooltip {
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 9999;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.asTooltip-content {
  display: block;
}
.asTooltip-inner {
  position: relative;
}
.asTooltip-loading,
.asTooltip-close {
  display: none;
}
.asTooltip-loading {
  margin: 0 auto;
  width: 20px;
  height: 20px;
  position: relative;
  text-align: center;
  -webkit-animation: chasingDotsRotate 2.0s infinite linear;
       -o-animation: chasingDotsRotate 2.0s infinite linear;
          animation: chasingDotsRotate 2.0s infinite linear;
}
.asTooltip-loading:before,
.asTooltip-loading:after {
  content: '';
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333333;
  border-radius: 100%;
  -webkit-animation: chasingDotsBounce 2s infinite ease-in-out;
       -o-animation: chasingDotsBounce 2s infinite ease-in-out;
          animation: chasingDotsBounce 2s infinite ease-in-out;
}
.asTooltip-loading:before {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
       -o-animation-delay: -1s;
          animation-delay: -1s;
}
@-webkit-keyframes chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-o-keyframes chasingDotsRotate {
  100% {
    -o-transform: rotate(360deg);
       transform: rotate(360deg);
  }
}
@keyframes chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes chasingDotsBounce {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-o-keyframes chasingDotsBounce {
  0%,
  100% {
    -o-transform: scale(0);
       transform: scale(0);
  }
  50% {
    -o-transform: scale(1);
       transform: scale(1);
  }
}
@keyframes chasingDotsBounce {
  0%,
  100% {
    -webkit-transform: scale(0);
         -o-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
}
.asTooltip_isLoading .asTooltip-loading {
  display: block;
}
.asTooltip_isLoading .asTooltip-content {
  display: none;
}
.asTooltip_hasClose .asTooltip-close {
  display: block;
}
