.asTooltip_dream .asTooltip-inner {
  padding: 0.2em 0.6em;
  font-size: 1.1em;
  line-height: 1.5em;
  color: #fff;
  background-color: #434240;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.asTooltip_dream .asTooltip-inner:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-width: 6px;
  border-style: solid;
  border-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.asTooltip_dream .asTooltip-loading:before,
.asTooltip_dream .asTooltip-loading:after {
  background-color: white;
}
.asTooltip_dream.asTooltip-element-top .asTooltip-inner {
  margin-bottom: 6px;
}
.asTooltip_dream.asTooltip-element-top .asTooltip-inner:before {
  top: 100%;
  border-top-color: #434240;
}
.asTooltip_dream.asTooltip-element-left .asTooltip-inner {
  margin-right: 6px;
}
.asTooltip_dream.asTooltip-element-left .asTooltip-inner:before {
  left: 100%;
  border-left-color: #434240;
}
.asTooltip_dream.asTooltip-element-right .asTooltip-inner {
  margin-left: 6px;
}
.asTooltip_dream.asTooltip-element-right .asTooltip-inner:before {
  right: 100%;
  border-right-color: #434240;
}
.asTooltip_dream.asTooltip-element-bottom .asTooltip-inner {
  margin-top: 6px;
}
.asTooltip_dream.asTooltip-element-bottom .asTooltip-inner:before {
  bottom: 100%;
  border-bottom-color: #434240;
}
.asTooltip_dream.asTooltip-element-left.asTooltip-arrow-middle .asTooltip-inner:before,
.asTooltip_dream.asTooltip-element-right.asTooltip-arrow-middle .asTooltip-inner:before {
  top: 50%;
  margin-top: -6px;
}
.asTooltip_dream.asTooltip-element-top.asTooltip-arrow-middle .asTooltip-inner:before,
.asTooltip_dream.asTooltip-element-bottom.asTooltip-arrow-middle .asTooltip-inner:before {
  left: 50%;
  margin-left: -6px;
}
.asTooltip_dream.asTooltip-arrow-left .asTooltip-inner:before {
  left: 6px;
}
.asTooltip_dream.asTooltip-arrow-right .asTooltip-inner:before {
  right: 6px;
}
.asTooltip_dream.asTooltip-arrow-top .asTooltip-inner:before {
  top: 6px;
}
.asTooltip_dream.asTooltip-arrow-bottom .asTooltip-inner:before {
  bottom: 6px;
}
