/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:8;height: 137px;position: fixed;top: 50%;width: 1150px;margin-left: -75px;}
ul.bjqs-controls.v-centered li a{position:absolute;height: 137px;text-decoration: none;display: block;width: 70px;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;display:none;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}
.bjqs-next a {
    background: url(../img/right.png) no-repeat center center;  right: -100px;
}
.bjqs-prev a {
    background: url(../img/left.png) no-repeat center center;  
    left: -104px;
}
div.slide-row {
    padding: 40px 30px;
    text-align: center;
}
.slide-row a {
    margin: 0 25px;
}