
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}


body {
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
    }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
   
	font-size: 100%;
	vertical-align: baseline;
}



ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
	Właściwe style
*/

/*#container {margin:0 auto;position:relative;text-align:left;width:100%;background:#fff;margin-bottom:2em;}*/
/* // Sudo Slider */
/* #slider {width: 1000px} */ /* It can be a good idea to set a width of the slider, mostly so Old-IE can figure out how to render */


/*Ramka licznika plików */



/*
#ilosc{
	font-size: 16px;
	padding: 10px 16px;
}
*/






/*
ol.numericControls li {
    display: none;
}



ol.numericControls li.current {
    display: list-item;
	position: fixed;
	top: 166px;
    margin-left: 1025px;
	font-size: 13px;
	z-index: 0;
	}

ol.numericControls li.current > *{
    background: #6C6C6C; 
	width:35px; 
	height:35px;
	text-decoration:none; 
	font-size: 1.7em;
	list-style:none;
	color:#FFF;
}
*/


.graphic, .prevBtn, .nextBtn{margin:0;padding:0;display:block;overflow:hidden; text-indent: 666em;}


/* Numeric Navigation */
/*
ol.numericControls {margin:1em 0;padding:0;	}
ol.numericControls li{margin:0 10px 0 0; padding:0;float:right;list-style:none;height:28px;line-height:28px;color:#000;
position: fixed;
z-index: 10;
top: 60px;
left: 1571px;

}
ol.numericControls li a{color:#6C6C6C}
ol.numericControls li.current a{float:left;height:28px;line-height:28px;color:#FFF;padding:0 10px;text-decoration:none; font-size: 1.7em;
margin-left: -40px; margin-top: -9px;}
ol.numericControls li a:focus, .prevBtn a:focus, .nextBtn a:focus{outline:none;}


*/


													
/*

*/

/*
.prevBtn{background:url(../img/left.png) center left no-repeat; height: 47px;  position: fixed;
margin-left: -3%; top: 200px; background-size: 35px auto; z-index:10}
*/

/*
body{
    background:url('../img/bg.jpg') center center repeat;
}
*/

div.width, div.width2 {
position:relative;
margin: 0 auto;
/*width: 990px;*/
}

div.width2 {
/* width: 1052px;*/
}


div#top{
width:100%;
background-color: #6C6C6C;
position: fixed;
margin-top: 0px;
z-index: 9;
}
/* div#logo, div#inwestor{
float:left;
margin-right: 10px;
}
div#inwestor{
 color: #f7c123;
}
.inwestor_box{
width: 100%;
display: table;
padding-top: 15px;
}
.oddzialy{
    float: left;
    width: 110px;
    padding-left: 15px;
    margin-left: 5px;
    border-left: 1px solid #f7c123;
}
.oddzialy img{filter: brightness(90%);
    -webkit-filter: brightness(90%);
    -moz-filter: brightness(90%);
    -o-filter: brightness(90%);
    -ms-filter: brightness(90%);}
.oddzialy img:hover{
filter: brightness(100%);
    -webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);
    -o-filter: brightness(100%);
    -ms-filter: brightness(100%);
    }

.noborder{border-left: none}
.oddzialy.noborder {
    line-height: 31px;
    padding-left: 0;
    padding-right: 16px;
}
div#tytul{
float:left;
margin-top: 15px;
margin: 15px 25px 0  0;
text-align:center;
}
div#tytul > *{
color:#f7c123;
font-size: 28px;
padding-top: 8px;
}
div#zegar{
display:table;
color: #fff;
}
div#zegar_lewy, div#zegar_prawy {
    float: left;
    width: 135px;
}
div#zegar_prawy {
    font-size: 27px;
   
}
div#pozostalo{
    text-transform: lowercase;
    font-size: 14px;
    padding-top: 25px;
}
div#dni{
    text-align: center;
    margin-top: 7px;
    font-size: 23px;
    z-index: 999;
    position: absolute;
}
div#czas{
    margin-left: 0px;
   text-align: center;
    display: table;
    margin-top: 1px;
} */

div#wizualizacja img {
max-width: 100%;
}
/*
div#glass {
	z-index: 6;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    
}
*/
/* .strzalka{
position:fixed;
z-index: 9;
top: 105px;
border-radius: 0px 0px 20px 20px;
 }
 div#footer {
    background: #6c6c6c;
    color: #fff;
    padding: 25px 0;
    display: table;
    width: 100%;
    line-height: 18px;
    z-index: 9;
    position: relative;
    
    
}

#dlaczego {background: url('../img/dlaczego-my.png') left center no-repeat;background-size: 23px auto;display: block;padding: 7px 0 7px 35px;}
div#f-left a, #box-kwali span a {color: #6D6D6D;text-decoration:none}
div#f-left a:hover {text-shadow:0 0 10px #FFF} 
div#f-right a {color: #f7c123;text-decoration:none}
div#f-right a:hover {color:#fff} 
div#div2 {
    position: fixed;
   padding: 25%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    z-index: 8;
}
div#div2 a {color: #f7c123;text-decoration:none}
div#div2 a:hover {color:#fff} 

div#Box_jbeeb_11,div#Box_jbeeb_15,div#Box_jbeeb_19,div#Box_jbeeb_23{
    
    background-color: #6C6C6C !important;
    top: 0px !important;
}


div#TextBox_jbeeb_14,div#TextBox_jbeeb_18,div#TextBox_jbeeb_22{
    margin-top:30px !important;
    padding-left:-2px;
}


div#TextBox_jbeeb_14 {
position: absolute !important;
left: -76px !important;
}

div#TextBox_jbeeb_14:after {
 content: ':';   
}

div#TextBox_jbeeb_18 {
position: absolute !important;
left: -106px !important;
font-size:15px;
}

div#TextBox_jbeeb_18:after {
 content: ':';   
}

div#TextBox_jbeeb_22 {
position: absolute !important;
left: -136px !important;
font-size:16px;
} */

img.blur {     
filter: blur(3px);
    -webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
        filter: blur(3px);
	filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='3'%20/></filter></svg>#blur");
        filter:progid:DXImageTransform.Microsoft.MotionBlur(strength=13, direction=310);
filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
filter:blur(add = 0, direction = 300, strength = 10);
}


#toTop, #toTop2 {
    width:10%;
    z-index: 9999999;
 /*   background-image: url('../imgages/up.png');*/
    background-repeat: no-repeat;
  /*  text-align:center; 
    padding:1%; 
    position:fixed; 
    bottom:0px; 
    right: 0px; 
    cursor:pointer; 
    display:none; 
    height:50px;
	margin-right: 0;*/
}

#toTop2 {
background-image: url('../images/down.png');
 height: 80px;
   /* right: 25px;*/
}
    
/*
#toTop3 {
    width:100px;
    z-index: 10;
   //border: 1px solid #333; 
   // background:#121212;
    background-image: url('../img/down.png');
    background-repeat: no-repeat;
    text-align:center; 
    padding:9px; 
    position:fixed; 
    bottom:0px; 
    right:0px; 
    cursor:pointer; 
    display:none; 
    color:#fff;
    text-transform: lowercase; 
    font-size: 0.7em;
    height:50px;
}
*/

/**************************************************************/


/****************Stopka******************************************/


#/* misja ,#box-wiz {
    width: 326px;
    height: 280px;
    color: #6D6D6D;
    background-color: #DBDAD8;
    text-align: left;
    float: left;
    font-size: 14px;
    line-height: 25px;
    border-right: 6px solid #6C6C6C;
}

.box-misja ,#box-wiz p, #box-kwali > p{
  margin:12px 21px 0px;
    font-size: 14px;
 padding: 2px 16px 0;
}

#op-plat  p{
font-size:14px;
color: #6D6D6D;
padding: 2px 22px;
position: relative;
top: 7px;font-family: "Roboto";
}
#misja  h4{
 padding-left: 2px;font-family: "Roboto";
}
#box-wiz span{
padding: 9px 20px 0px 20px;
}

#box-wiz span h2{
 margin: -33px 0;padding-left: 55px;font-size: 16px;
}
#box-kwali span h2{
 margin: -26px 0;
 padding-left: 35px;
 font-size: 14px;font-family: "Roboto";
}

#box-kwali{
overflow:hidden;
color: #6D6D6D;
background-color: #DBDAD8;
height: 440px;
}
span.ofertamarketingowa {
    display: block;
    clear: both;
    padding: 10px 0 0 40px;
}




.kompetencje {
margin-left:15px;
margin-top:15px;
}

.kompetencje div{
width:95px;
height:73px;
float:left;
color:#fff;
font-size:12px;
line-height:18px;
margin: 3px 0;
}



.kompetencje div p{
   padding: 19px 0px;
    text-align: center;
    font-size: 11px;
    font-weight: normal;
}
.kompetencje div:nth-child(2), .kompetencje div:nth-child(5) ,.kompetencje div:nth-child(8),.kompetencje div:nth-child(11){
    margin-left: 6px;
    margin-right: 6px;
}



.kompetencje div:nth-child(1),.kompetencje div:nth-child(5), .kompetencje div:nth-child(7),.kompetencje div:nth-child(11){
background-color: rgba(248,199,58,1);
}

.kompetencje div:nth-child(2),.kompetencje div:nth-child(6),.kompetencje div:nth-child(8),.kompetencje div:nth-child(10) {
background-color: rgba(250,229,18,1);
}

.kompetencje div:nth-child(3),.kompetencje div:nth-child(4),.kompetencje div:nth-child(9),.kompetencje div:nth-child(12) {
background-color: rgba(241,180,55,1);
}


.kompetencje div:nth-child(3) p{
padding: 10px 0px;
}


.kompetencje div:nth-child(1) p, .kompetencje div:nth-child(2) p{
  padding: 19px 10px;
}



#op-plat div{
float:left;
margin-left: 11px;
}






#op-plat .kompetencje div p {
   display: block;
    padding: 8px 6px;
    text-align: center;
    color: #fff;
    font-size: 11px;font-family: "Roboto";
}

#op-plat div:nth-child(1), #op-plat div:nth-child(3){
background-color: rgba(108,108,108,1);
}


#op-plat .kompetencje div:nth-child(1) p, .kompetencje div:nth-child(3) p{
width: 83px;
font-size: 11px;
line-height: 18px;
padding: 4px 5px;font-family: "Roboto";
}

#op-plat div:nth-child(1){
 margin-left: 6px;
}



#op-plat .kompetencje div:nth-child(4) p{
width: 73px;
padding-top: 17px;
padding-left: 14px;
font-size:12px;
line-height:14px;
}



#op-plat .kompetencje div:nth-child(2){
    background-color: #DBDAD8;
        width: 95px;
        display: block;
        position: absolute;
        margin-right: 105px;
        margin-left: 105px;
        height: 73px;
}

#op-plat .kompetencje div:nth-child(2) p{
position: relative;
top: 17px;
margin: 0px 26px;
font-size:14px;
text-align: center;
color: #6D6D6D;
}


#op-plat .kompetencje div:nth-child(3){
    position: relative;
    margin-left: 106px;
    float: right;
}

#op-plat .kompetencje div:nth-child(3) p {
 margin-top:-3px;
 }

#video{
    position: absolute;
    top: 271px;
    border: 2px solid #DBDAD8;
    width: 66%;
    margin-top: 14px;
    background-color: #DBDAD8;
    padding: 8px 0 9px;
}

#video .film{
  margin: 11px 11px; 
}

 


p.op-wsp{
position: relative;
top: 10px;
float: left;
}


#op-plat{overflow: hidden;float: right;background-color: #DBDAD8;height: 266px;width: 331px;margin-top: 4px;}




#op-wsp{
background-image: url('../img/opcje-wspolpracy.png');
    background-repeat: no-repeat;
    background-size: 152px auto;
    height: 61px;
    width: 152px;
    margin: 0px auto;
    padding-top: 27px;
    padding-bottom: 0px;
    display:table;
}

.info1{
position: fixed;
float: right;
left: 1203px;
top: 137px;
text-align: center;
color: #837F7F;
z-index: 1000;

}

ul.unstyled.log li {
    float: left;
}
ul.unstyled.log h3 {font-size: 13px;letter-spacing: 2px;margin-top: 12px;position: relative;left: -22px;}
ul.unstyled.icony li span {
    display: block;
}
ul.unstyled.icony li {float: left;}
ul.unstyled.log li:first-child {width: 10%;}
ul.unstyled.icony b {font-size: 21px;padding-left: 4px;position: relative;top: -11px;}
ul.unstyled.icony img {margin-right: 4px;padding: 2px;height: 44px;}
.col-xs-2.col-md-offset-0 {margin-top: 22px;}
ul.unstyled.icony img:first-child {height: 34px;}
.col-xs-5.pull-right div {float: left;}
ul.unstyled.info {margin-top: 21px;}
p {margin: 0 0 0px !important;letter-spacing: 1px;font-size: 12px;font-family: inherit;}
div#zegar div {float: left;}
ul.unstyled.info {
    margin-top: 9px;
    text-align: center;
    float: left;
    display: inline-block;
    margin-right: 12px;
}
div#czas {
position: relative;left: 43px;}
@media (min-width: 1200px)
.container {
    width: 1200px;
}
.top {
    margin-top: 5px;
}
.col-rgh {
    float: right;
  }
.row {margin-right: 0px;margin-left: 0px;}
.container {padding-right: 0px;padding-left: 0px; }
li.col-xs-3.nt {position: relative;left: -22px;}
.col-xs-12.top div:nth-child(3) {position: relative;left: -24px;}
.btn-primary2 {
    color: #fff;
    background-color: #FFBE00;
    border-color: #FFBE00;
    background-image: -webkit-linear-gradient(top, #FFBE00 0%, #FFBE00 100%);
    background-image: -o-linear-gradient(top, #FFBE00 0%, #FFBE00 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#265a88));
    background-image: linear-gradient(to bottom, #337ab7 0%, #265a88 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFBE00', endColorstr='#FFBE00', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);letter-spacing: 1px;
    background-repeat: repeat-x;
}

.btn:hover, .btn:focus, .btn.focus {
    color: #505050;
    text-decoration: none;
}

.top-button {
    padding-top: 30px;
} */

@media(max-width: 1920px){}

@media(max-width: 1600px){}

@media(max-width: 1366px){}